<div class="main">
  <div class="main--wrapper">
    <div *ngIf="imageUrls?.length" class="main--wrapper--images">
      <div class="speed">
        <span>Speed (seconds)</span>
        <input value="{{speed}}" (input)="changeSpeed($event)" type="number" min="1" class="speed--seconds">
      </div>
      <div (mouseup)="pause()" class="slider">
        <img src="{{imageUrls[index]}}" alt="" class="slider--image">
        <div *ngIf="paused" class="slider--pause">
          <i class="fa fa-pause"></i>
        </div>
        <div drag-and-drop [progressWidth]="progressWidth"
             (mouseUpEvent)="dragEnd()"
             (mouseDownEvent)="dragStart()"
             (mouseMoveEvent)="changeProgressWidth($event)"
             class="slider--progress">
          <div class="slider--progress--main">
            <div [ngStyle]="{'width.%': progressWidth}" class="slider--progress--main--passed"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
